.menuContainer {
    background-color: transparent;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 10;
    -webkit-transition: all .3s cubic-bezier(.215,.61,.355,1);
    -moz-transition: all .3s cubic-bezier(.215,.61,.355,1);
    -o-transition: all .3s cubic-bezier(.215,.61,.355,1);
    -ms-transition: all .3s cubic-bezier(.215,.61,.355,1);
    transition: all .3s cubic-bezier(.215,.61,.355,1);
    will-change: box-shadow,background-color;
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -o-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    transform: translateY(-300px);
  }
