body {
    font-family: "Times New Roman", Georgia, Serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}

.purple{color:#9F0050;}
.w3-white{color:#000!important;background-color:#fff!important}

.Florence{color:#AE00AE}

.w3-display-middle{position:absolute;bottom:1%;right:30%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}

.biggest{
  margin-left: 15 auto;
  font-family: 'Tangerine', cursive;
  font-size: 80px;
}
