
/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: black;
}

/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background: red;
}

/* shapes */
.starmain{
         color:yellow;
         font-size:8em;
         width:45px;
         height:45px;
         position:relative;
         float:left;
         left: 30px;
         top: 5px;
}
.heart1{
       color:#FF1493;
       font-size:4em;
       position:relative;
       left: 0px;
       top: 55px;
}
