
/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: black;
}

/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background: red;
}

/* shapes */
.starmain{
         color:yellow;
         font-size:8em;
         width:45px;
         height:45px;
         position:absolute;
         float:left;
         left: 44px;
         top: -25px;
         transform: rotate(13deg);
}
.heartmain{
       color:#FF1493;
       font-size:4em;
       position:absolute;
       left: 61px;
       top: 33px;
       transform: rotate(13deg);
}
.heart1{
       color:#FF1493;
       font-size:1.4em;
       position:absolute;
       left: 237px;
       top: 182px;
}

#contentframe{
       position:absolute;

}
#wifi{
       color:yellow;
       position:absolute;
       transform: rotate(-45deg);

}
#rectangle {
    width: 100px;
    height: 300px;
    background: yellow;
    position:absolute;
    left:400px;
    top:0;
}
.animation-heartpulse {
  -webkit-animation-name: heartpulse; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: .8s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: ease-in-out;
  animation-name: heartpulse;
  animation-duration: .8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@-webkit-keyframes heartpulse {
  0% { transform: scale(1); }
  100% { transform: scale(1.05); }
}
@keyframes heartpulse {
  0% { transform: scale(1); }
  100% { transform: scale(1.05); }
}
.animation-heartblink {
  -webkit-animation-name: heartblink; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: .6s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
  animation-name: heartblink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
   animation-direction: alternate;
}
@-webkit-keyframes heartblink {
  from { background-color: pink; }
  to { background-color: red; }
}

/* Standard syntax */
@keyframes heartblink {
  from { background-color: pink; }
  to { background-color: red; }
}
