
/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: black;
}

/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background: red;
}

/* shapes */
.starmain{
         color:yellow;
         font-size:8em;
         width:45px;
         height:45px;
         position:relative;
         float:left;
         left: 30px;
         top: 5px;
}
.heartmain{
       color:#FF1493;
       font-size:4em;
       position:relative;
       left: 20px;
       top: 55px;
}
.heart1{
       color:#FF1493;
       font-size:1.4em;
       position:absolute;
       left: 237px;
       top: 185px;
}
.heart2{
       color:	yellow;
       font-size:1.4em;
       position:absolute;
       left: 240px;
       top: 125px;
}
.heart3{
       color:	yellow;
       font-size:1.4em;
       position:absolute;
       left: 220px;
       top: 120px;
}
.heart4{
       color:	yellow;
       font-size:1.4em;
       position:absolute;
       left: 200px;
       top: 125px;
}
.heart5{
       color:	yellow;
       font-size:1em;
       position:absolute;
       left: 210px;
       top: 112px;
}
.heart6{
       color:	yellow;
       font-size:1em;
       position:absolute;
       left: 235px;
       top: 112px;
}
.heart7{
       color:	yellow;
       font-size:1em;
       position:absolute;
       left: 223px;
       top: 100px;
}
#contentframe{
       position:absolute;

}
#rectangle {
    width: 100px;
    height: 300px;
    background: yellow;
    position:absolute;
    left:400px;
    top:0;
}
