
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background: orange;
}
#distortion0{
    display: inline;
    color: black;
}
#distortion1,
#distortion2,
#distortion3,
#bear,
#print {
    display: none;
}
/* distortion1 */
@media (min-width: 1000px) and (max-width: 1200px) {
    body {
        background: orange;
    }
    #distortion1 {
        display: inline;
        color: orange;
    }
    #distortion0,
    #distortion2,
    #distortion3,
    #bear,
    #print {
        display: none;
    }
}
/* distortion2 */
@media (max-width: 1000px) and (min-width: 800px) {
    body {
        background: orange;
    }
    #distortion2 {
        display: inline;
        color: black;
    }
    #distortion0,
    #distortion1,
    #distortion3,
    #bear,
    #print {
        display: none;
    }
}

/* distortion3 */
@media (max-width: 600px) and (min-width: 500px)  {
    body {
        background: white;
    }
    #distortion3 {
        display: inline;
        color: black;
    }
    #distortion0,
    #distortion1,
    #distortion2,
    #bear,
    #print {
        display: none;
    }
}
/* bear */
@media (max-width: 500px)  {
    body {
        background: white;
    }
    #bear {
        display: inline;
        color: black;
    }
    #distortion0,
    #distortion1,
    #distortion2,
    #distortion3,
    #print {
        display: none;
    }
}


/* print */
@media print {
    body {
        background: white;
    }
    #print {
        display: inline;
        color: black;
    }
    #distortion0,
    #distortion1,
    #distortion2,
    #distortion3,
    #bear{
        display: none;
    }
}
